#Title{
  text-align: center;
  font-size: 40;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: purple;
}

#AuthorPic{
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  width: 240px;
}

#AuthorBio{
  background-color: red;
  height: 300px;
  width:300px;
  font-size: 20;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

button{
  height: 100px;
  width: 100px;
  font-size: 20;
}

button:hover{
  background-color: red;
  color: white;
  font-size: 20;
}


#SlideResultsJoe{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20;
}

#Title2{
  text-align: center;
  font-size: 40;
  margin-left: auto;
  margin-right: auto;
}

#Explanation{
  text-align: center;
  font-size: 20;
  margin-left: auto;
  margin-right: auto;
  background-color: red;

}

#PicturePattern1{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
  width: 420px;
}

#PicturePattern2{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
  width: 420px;
}

#PicturePattern3{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
  width: 420px;
}

#PicturePattern4{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
  width: 420px;
}

#PicturePattern5{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
  width: 420px;
}

#PicturePattern6{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
  width: 420px;
}

#PicturePattern7{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 420px;
  width: 420px;
}

#RogerResultsSlide{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 20;
}

#Title3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
}

#FinalThoughts{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  height: 300px;
  width: 300px;
  padding: 10px;
  font-size: 20;
}

#WorksCited{
  text-align: center;
  font-size: 5;
  color: white;
  margin-right: auto;
  margin-left: auto;
}

#THANKYOU{
  font-size: 30;
  color: white;
  text-align: center;
  padding: 5px;
  background-color: blue;
}

/*All webpages*/
a {
	color: #0DDCFF;
}

/*Homepage*/

body.homepage {
	background-color: #2C2A28;
	text-align: center;
	color: #FFFFFF;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1.homepage {
	margin-top: 6vh;
	margin-bottom: 8vh;
}

h2.homepage {
	margin-top: 5vh;
}

img.homepage {
	border: solid 4px #FB6B6B;
}

#ferrari_palomas {
	margin-bottom: -20vh;
	margin-right: -5px;
}

#pan_perspective_sessions {
	margin-left: 25vw;
	margin-top: -5px;
}

nav.homepage {
	float: right;
	margin-top: -8vh;
	margin-right: 2vw;
}

/*Slide 2*/



/*Slide 3*/

body.slide3 {
	background-color: #2C2A28;
	color: #FFFFFF;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1.slide3#title {
	margin-top: 6vh;
	margin-bottom: 5vh;
	text-align: center;
	font-size: 36pt;
}

h1.slide3#portillo {
	float: right;
	margin-right: 15vw;
}

#ascii_map {
	margin-top: -4vh;
	margin-left: 5vw;
	margin-right: 1vw;
}

#mackern_pic {
	margin-bottom: 32vh;

}

#portillo_pic {
	float: right;
	margin-top: -46vh;
	margin-right: 10vw;
}

#ambientacion_web_s3 {
	float: right;
	margin-top: 35vh;
	margin-right: -13vw;
}

h1.slide3#mackern {
	margin-left: 25vw;
}

nav.slide3 {
	float: right;
	margin-top: -8vh;
	margin-right: 2vw;
}
/*Slide 4*/



/*Slide 5*/



/*Slide 6*/

body.slide6 {
	background-color: #2C2A28;
	color: #FFFFFF;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-align: center;
}

h1.slide6 {
	margin-top: 5vh;
	margin-bottom: 6vh;
}

nav.slide6 {
	float: right;
	margin-right: 2vw;
}

/*Slide 7*/

body.slide7 {
	background-color: #2C2A28;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1.slide7 {
	margin-top: 10vh;
	margin-bottom: 15vh;
	color: #FFFFFF;
	text-align: center;
	font-size: 36pt;
}

h2.slide7 {
	margin-left: 5vw;
	margin-right: 5vw;
	color: #F05EAE;
}

nav.slide7 {
	float: right;
	margin-top: 35vh;
	margin-right: 2vw;
}

/*Slide 2*/

body.slide2 {
	background-color: #2C2A28;
	color: #FFFFFF;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-align: center;
}

h1.slide2 {
	margin-top: 10vh;
	margin-bottom: 20vh;
	font-size: 48pt;
}

#figma_link {
	font-size: 36pt;
	color: #4AFE21;
}

nav.slide2 {
	float: right;
	margin-top: 35vh;
	margin-right: 2vw;
}

/*Slide 8*/
